body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ecbcc8;
    color: #db5275;
    text-align: center;
    padding: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

#produtos, #carrinho, #recibo {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin-bottom: 2rem;
}

.produto {
    text-align: center;
    margin-bottom: 1rem;
}

.produto img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

button.btn, a.btn {
    background-color: #ecbcc8;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin-top: 0.5rem;
}

button.btn:hover, a.btn:hover {
    background-color: #bb6213;
}

a#voltar-menu {
    margin-top: 1rem;
    display: block;
}

@media (min-width: 600px) {
    main {
        flex-direction: row;
        justify-content: space-around;
    }
}

footer {
    background-color: #ecbcc8;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

label, input, select {
    display: block;
    margin: 0.5rem 0;
}

input, select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#troco-container, #endereco-container {
    margin-top: 1rem;
}

button.btn-remover {
    background-color: #ff4d4d; /* Cor de fundo */
    color: black; /* Cor do texto */
    border: none; /* Remover borda */
    padding: 0.5rem 1rem; /* Espaçamento interno */
    cursor: pointer; /* Cursor de ponteiro */
    border-radius: 4px; /* Bordas arredondadas */
    text-align: center; /* Alinhamento do texto */
    display: inline-block; /* Exibir como bloco inline */
    transition: background-color 0.3s ease, transform 0.2s; /* Transição suave */
    margin-top: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
}

button.btn-remover:hover {
    background-color: #cc0000; /* Cor de fundo ao passar o mouse */
    transform: scale(1.05); /* Aumentar ligeiramente o tamanho ao passar o mouse */
}